server/resources/xsd/cooldowns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="base.xsd"/>
	<xs:element name="list">
	  <xs:complexType>
		 <xs:sequence>
			<xs:element ref="cooldown" maxOccurs="unbounded" minOccurs="0"/>
		 </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="cooldown">
	  <xs:complexType>
		 <xs:sequence>
			<xs:element type="uuidType" name="pk"/>
			<xs:element ref="name"/>
			<xs:element ref="cooldownTime" />
		 </xs:sequence>
	  </xs:complexType>
	</xs:element>

	<xs:element name="name">
	  <xs:simpleType>
		 <xs:restriction base="xs:string">
			 <xs:pattern value="[A-Za-z0-9-]+"/>
		 </xs:restriction>
	  </xs:simpleType>
	</xs:element>

	<xs:element name="cooldownTime">
	  <xs:simpleType>
		 <xs:restriction base="xs:decimal" />
	  </xs:simpleType>
	</xs:element>

</xs:schema>
