server/src/main/resources/xsd/graveyards.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="base.xsd"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="graveyard" type="graveyardType" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="graveyardType">
		<xs:sequence>
			<xs:element name="pk" type="uuidType"/>
			<xs:element name="area" type="areaType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>