server/src/main/resources/xsd/spells.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			  xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="base.xsd"/>

	<xs:element name="list" type="spellListType"/>

	<xs:complexType name="spellListType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element type="spellType" name="spell"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>